@charset "UTF-8";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(51, 51, 51, 0.75);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list > li {
  position: relative;
  margin: 0px 63px 0px 0px;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.menu__link {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.menu__link._active {
  color: #D1A954;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  position: relative;
  z-index: 2;
  position: relative;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.header__phone:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #D1A954;
  bottom: -5px;
  left: 0;
}

.menu__icon {
  display: none;
}

.header__phone_none {
  display: none;
}

.footer__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #565656;
}

.footer__column {
  margin-right: 125px;
}

.footer__item {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  display: block;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer-form__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer-form__input {
  display: block;
  background: #444444;
  border: 1px solid #616161;
  width: 180px;
  height: 35px;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
  padding-left: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer-form__input:last-child {
  margin-bottom: 0;
}

.footer-form__textarea {
  display: block;
  background: #444444;
  border: 1px solid #616161;
  width: 310px;
  height: 100px;
  resize: none;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
  padding-left: 15px;
  padding-top: 10px;
}

.footer-form__row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form__label {
  display: block;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  max-width: 390px;
}

.footer-form__btn {
  display: inline-block;
  background-color: #D1A954;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 0px 47px;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.footer__row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 80px;
}

.footer__row-bottom__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
  line-height: 1;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 18px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 6.5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #333;
  width: 9px;
  height: 1px;
}

.quantity__button_plus {
  background-color: #eee;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__button_minus {
  background-color: #eee;
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #000;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.form__label {
  display: inline-block;
  margin: 0 0 15px 0;
  font-size: 20px;
}

.input {
  height: 40px;
  font-size: 18px;
  margin: 0 0 10px 0;
  border: 2px solid #d9d9d9;
}

.input._error {
  border: 2px solid red;
}

.sel {
  margin-bottom: 15px;
}

.quantity {
  margin-bottom: 25px;
}

.price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__inputs input {
  margin-right: 10px;
}

.form__btn {
  margin-top: 10px;
  margin-bottom: 30px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._no-webp .intro-full{
  background: url("../img/bg-intro.png") center/cover no-repeat; }

.intro-full {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.intro-full__body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;
}

.slider {
  max-width: 370px;
  margin-right: 75px;
}

.slider__arrows {
  position: relative;
  height: 0;
  width: 0;
  margin-bottom: 30px;
}

.slider__arrows .swiper-button-disabled {
  opacity: 0.4;
}

.arrow__item_prev {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  position: absolute;
  bottom: -320px;
  left: -380px;
  z-index: 2;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.arrow__item_prev:after {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: -60px;
  width: 40px;
  height: 15px;
  background: url("../img/icons/prev.svg") 0 0/100% no-repeat;
}

.arrow__item_next {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  position: absolute;
  bottom: -320px;
  left: -175px;
  z-index: 2;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.arrow__item_next:after {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  right: -60px;
  width: 40px;
  height: 15px;
  background: url("../img/icons/next.svg") 0 0/100% no-repeat;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #000;
  background-color: #333;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}

body._lock {
  overflow: hidden;
}

.text {
  line-height: 150%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.wrap {
  margin-bottom: 150px;
}

.intro {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__body {
  margin-right: 125px;
  max-width: 540px;
}

.intro__title {
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.intro__text {
  margin-bottom: 40px;
  max-width: 540px;
}

.intro__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Open Sans', sans-serif;
  background: #D1A954;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0px 47px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.intro__body-abs {
  position: absolute;
  top: 0;
  padding-top: 330px;
  left: 0;
  height: 100vh;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(51, 51, 51, 0.75);
}

.intro__body-abs__text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 700;
  width: 244px;
  margin-bottom: 240px;
  position: relative;
}

.intro__body-abs__text:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #c4c4c4;
  bottom: 50%;
  -webkit-transform: translate(0, 70%);
      -ms-transform: translate(0, 70%);
          transform: translate(0, 70%);
  left: -106px;
}

.intro__body-abs__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__body-abs__icons path {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.intro__body-abs__icon {
  display: block;
  margin-bottom: 30px;
}

.intro__body-abs__icon:last-child {
  margin: 0px 0px 0px 0px;
}

.about-us {
  margin-bottom: 150px;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 80px;
}

.title span {
  color: #D1A954;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__column {
  margin-right: 30px;
}

.about-us__column:last-child {
  margin-right: 0;
}

.about-us__column:first-child {
  max-width: 445px;
}

.column__subtitle {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
}

.column__text-cast {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #fff;
}

.column__text-cast span {
  color: #D1A954;
}

.column__block {
  margin-bottom: 25px;
}

.column__block:last-child {
  margin: 0px 0px 0px 0px;
}

.column__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin-bottom: 15px;
}

.column__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.column__image-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}

.column__image-big img {
  display: block;
  max-width: 100%;
  height: auto;
}

.staging {
  margin-bottom: 150px;
}

.staging-container {
  max-width: 1770px;
  margin: 0 auto;
}

.staging__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.staging__card {
  position: relative;
  background-color: rgba(51, 51, 51, 0.65);
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 442px;
          flex: 0 0 442px;
  height: 550px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
}

.staging__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 442px;
}

.staging__image img {
  width: 100%;
  height: 100%;
}

.staging__title-abs {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
}

.staging__data-abs {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  position: absolute;
  top: 433px;
  left: -12px;
  font-size: 18px;
  line-height: 33px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.staging__search {
  -webkit-transition: all 0.3s ease 0ms;
  -o-transition: all 0.3s ease 0ms;
  transition: all 0.3s ease 0ms;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.best {
  margin-bottom: 150px;
}

._no-webp .best__body{
  background: url("../img/bg-best.png") center/cover no-repeat; }

.best__body {
  padding: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best__years {
  margin-right: 103px;
}

.best__year {
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  font-weight: 700;
}

.years__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.years__star {
  margin-right: 25px;
}

.years__star:last-child {
  margin-right: 0;
}

.years__text {
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  font-weight: 700;
  max-width: 475px;
  font-family: 'Open Sans', sans-serif;
}

.partners {
  margin-bottom: 120px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.partners__row:last-child {
  margin-bottom: 0;
}

.partners__row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 78px;
}

.partners__row-wrap:last-child {
  margin-right: 0;
}

.partners__item {
  display: block;
  margin-right: 78px;
}

.partners__item:last-child {
  margin-right: 0;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: black;
  }
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #D1A954;
  }

  .header__phone:hover {
    color: #D1A954;
  }

  .footer__item:hover {
    color: #D1A954;
  }

  .footer-form__btn:hover {
    background-color: #93763a;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }

  .intro__btn:hover {
    background-color: #93763a;
  }

  .intro__body-abs__icon_i:hover path {
    fill: #D1A954;
  }

  .intro__body-abs__icon_f:hover path {
    fill: #D1A954;
  }

  .intro__body-abs__icon_vk:hover path {
    fill: #D1A954;
  }

  .intro__body-abs__icon_y:hover path {
    fill: #D1A954;
  }

  .staging__card:hover {
    background-color: rgba(51, 51, 51, 0);
  }

  .staging__card:hover .staging__search {
    opacity: 1;
    visibility: visible;
  }

  .staging__card:hover .staging__data-abs {
    opacity: 0;
    visibility: hidden;
  }

  .staging__card:hover .staging__title-abs {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 1460px) and (max-height: 810px) {
  .intro__body-abs {
    padding-top: 200px;
  }
}

@media (max-width: 1810px) {
  .staging__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 275px;
            flex: 0 0 275px;
    height: 342px;
  }

  .staging__title-abs {
    font-size: 20px;
    top: 20px;
    left: 20px;
  }

  .staging__data-abs {
    top: 245px;
    left: -20px;
    font-size: 16px;
  }

  .staging__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .staging__title {
    margin-bottom: 50px;
  }

  .staging__search {
    width: 70px;
    height: 70px;
  }

  .staging__search img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1460px) {
  .intro__body-abs {
    position: fixed;
    z-index: 20;
    top: 100%;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    padding-top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__body-abs__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__body-abs__icon {
    margin-bottom: 0;
    margin-right: 22px;
  }

  .intro__body-abs__text {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    font-weight: 700;
    width: auto;
    margin-right: 35px;
    margin-bottom: 0;
    position: relative;
    margin-left: 106px;
  }

  .intro__body-abs__text:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #c4c4c4;
    bottom: 50%;
    -webkit-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
            transform: translate(0, 70%);
    left: -106px;
  }
}

@media (max-width: 1124px) {
  .container {
    max-width: 970px;
  }

  .slider {
    margin-right: 0;
  }

  .arrow__item_prev {
    bottom: -320px;
    left: -305px;
  }

  .arrow__item_prev:after {
    left: -60px;
    width: 40px;
    height: 15px;
  }

  .arrow__item_next {
    bottom: -320px;
    left: -100px;
  }

  .arrow__item_next:after {
    right: -60px;
    width: 40px;
    height: 15px;
  }

  .staging__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 10px;
  }

  .partners__row {
    display: block;
    margin-bottom: 50px;
  }

  .partners__row:last-child {
    margin-bottom: 0;
  }

  .partners__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .partners__row-wrap:last-child {
    margin-bottom: 0;
  }

  .footer__column {
    margin-right: 45px;
  }
}

@media (max-width: 991.98px) {
  .menu__list li {
    margin-right: 20px;
  }

  .header__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .container {
    max-width: 750px;
  }

  .about-us {
    margin-bottom: 120px;
  }

  .staging {
    margin-bottom: 120px;
  }

  .best {
    margin-bottom: 120px;
  }

  .partners {
    margin-bottom: 100px;
  }

  .title {
    margin-bottom: 50px;
  }

  .intro__body {
    margin-right: 30px;
  }

  .slider {
    max-width: 280px;
  }

  .slider__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }

  .slider__image img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .arrow__item_prev {
    bottom: -255px;
    left: -220px;
  }

  .arrow__item_prev:after {
    left: -60px;
    width: 40px;
    height: 15px;
  }

  .arrow__item_next {
    bottom: -255px;
    left: -100px;
  }

  .arrow__item_next:after {
    right: -60px;
    width: 40px;
    height: 15px;
  }

  .intro__title {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 15px;
  }

  .intro__text {
    margin-bottom: 22px;
  }

  .wrap {
    margin-bottom: 120px;
  }

  .about-us__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-us__column {
    margin-bottom: 30px;
  }

  .about-us__column:last-child {
    margin-bottom: 0;
  }

  .column__subtitle {
    margin-bottom: 30px;
  }

  .staging__search {
    width: 56px;
    height: 56px;
    opacity: 1;
    visibility: visible;
    top: 100%;
    left: 100%;
    -webkit-transform: translate(-120%, -115%);
        -ms-transform: translate(-120%, -115%);
            transform: translate(-120%, -115%);
  }

  .best__body {
    padding: 50px;
  }

  .best__years {
    margin-right: 50px;
  }

  .partners__row {
    display: block;
    margin-bottom: 50px;
  }

  .partners__row:last-child {
    margin-bottom: 0;
  }

  .partners__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    margin-left: 0;
    margin-bottom: 50px;
    -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }

  .partners__row-wrap:last-child {
    margin-bottom: 0;
  }

  .footer-form__textarea {
    width: 230px;
  }

  .footer-form__input {
    width: 130px;
  }

  .footer__row-top {
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .header__phone {
    display: none;
  }

  .header__phone_none {
    display: block;
  }

  .header__phone_none:before {
    display: none;
  }

  .header__row {
    height: 50px;
  }

  .menu__body {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0ms;
    -o-transition: all 0.3s ease 0ms;
    transition: all 0.3s ease 0ms;
    background-color: #333;
    padding: 80px 30px 30px;
  }

  .menu__body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__link {
    color: #fff;
    font-size: 26px;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu:after,
  .icon-menu:before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0ms;
    -o-transition: all 0.3s ease 0ms;
    transition: all 0.3s ease 0ms;
    background-color: #fff;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .icon-menu:after,
  .icon-menu:before {
    content: '';
  }

  .icon-menu:after {
    bottom: 0;
  }

  .icon-menu:before {
    height: 12%;
    top: 0;
  }

  .icon-menu._active:after {
    height: 12%;
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .icon-menu._active:before {
    height: 12%;
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .icon-menu._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .container {
    max-width: none;
    padding: 0 14px;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .staging {
    margin-bottom: 80px;
  }

  .best {
    margin-bottom: 80px;
  }

  .partners {
    margin-bottom: 80px;
  }

  .wrap {
    margin-bottom: 80px;
  }

  .title {
    margin-bottom: 20px;
  }

  .about-us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__column {
    margin-right: 0;
  }

  .column__subtitle {
    text-align: center;
    margin-bottom: 14px;
  }

  .column__text {
    text-align: center;
  }

  .column__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column__text-cast {
    text-align: center;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .staging__title {
    margin-bottom: 20px;
  }

  .best__body {
    display: block;
    text-align: center;
    padding: 40px;
  }

  .best__years {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .years__stars {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .years__text {
    margin: 0 auto;
    font-size: 25px;
    line-height: 140%;
  }

  .footer__row-top {
    display: block;
  }

  .footer__column {
    margin-bottom: 30px;
  }

  .footer__item {
    margin-bottom: 15px;
  }

  .footer-form__input {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .footer-form__textarea {
    height: 90px;
  }

  .footer-form__label {
    margin-right: 20px;
  }
}

@media (max-width: 665px) {
  .intro__row {
    display: block;
  }

  .intro__body {
    margin-right: 0;
  }

  .intro__title {
    text-align: center;
  }

  .intro__text {
    text-align: center;
  }

  .intro__btn {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    margin-bottom: 30px;
  }

  .slider {
    margin-right: 0;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  .slider__arrows {
    width: 20px;
    margin: 0 auto;
  }

  .arrow__item_prev {
    bottom: -35px;
    left: -90px;
  }

  .arrow__item_prev:after {
    left: -40px;
    width: 30px;
    height: 15px;
  }

  .arrow__item_next {
    bottom: -35px;
    left: 70px;
  }

  .arrow__item_next:after {
    right: -40px;
    width: 30px;
    height: 15px;
  }

  .intro__body-abs {
    height: 45px;
  }

  .intro__body-abs__icon {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .intro__body-abs__icon svg {
    width: 18px;
    height: 18px;
  }

  .intro__body-abs__text {
    margin-right: 20px;
    margin-left: 0px;
    font-size: 16px;
  }

  .intro__body-abs__text:after {
    width: 0px;
    left: 0px;
  }

  .footer__row-bottom {
    padding-bottom: 65px;
  }
}

@media (max-width: 570px) {
  .staging__card {
    margin-bottom: 25px;
  }

  .staging__card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 520px) {
  .partners__row-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .partners__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .partners__item:last-child {
    margin-bottom: 0;
  }

  .partners__row {
    margin-bottom: 30px;
  }

  .footer-form__row-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-form__column-input {
    margin-bottom: 20px;
  }

  .footer-form__textarea {
    width: 280px;
  }

  .footer-form__row-bottom {
    display: block;
  }

  .footer-form__row-top {
    margin-bottom: 20px;
  }

  .footer-form__label {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__row-bottom {
    display: block;
    padding: 20px 0px 65px;
  }

  .footer__row-bottom__text {
    margin-bottom: 10px;
  }

  .footer__row-bottom__text:last-child {
    margin-bottom: 0;
  }

  .footer__row-top {
    padding-bottom: 25px;
  }

  .footer-form__input_two {
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .intro__body-abs__text {
    font-size: 14px;
    margin-right: 15px;
  }

  .intro__body-abs__icon {
    margin-right: 8px;
  }
}

._webp .intro-full{ background: url(../img/bg-intro.webp) center/cover no-repeat; }

._webp .best__body{ background: url(../img/bg-best.webp) center/cover no-repeat; }